body {
  margin: auto;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
  
#logo-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
  
  #logo, #subtitle h2{
  border: 1px solid;
  padding: 5px 10px;
}

  #nav-bar a{
  font-weight:bold;
  padding: 10px;
  }

#hero-banner{
  border-bottom: 1px solid;
  display: flex;
  justify-content: end;
  align-items: end;
  background-image: url("../images/hero-banner.png");
}

#subtitle{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 10px;
}

#page-wrapper{
  display: flex;
  flex-direction: column;
}

.page-section{
  margin: 10px 0;
  display: flex;
  border: 1px solid;
}

.page-section h2{
  border-right: 2px solid;
  padding-right: 10px;
  margin-right: 20px;
  text-align: right;
}


 #about div{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 p{
  text-align: justify;
  border: 1px solid;
  height: auto;
 }

 #about div img{
  margin-left: 10px;
  width: 75%;
  height: auto;
 }

 /* portfolio container */
 #work{
  
 }

/* contact container */
#contact{
}
    